<!DOCTYPEhtml>
<html>
    <head>
        
    <title> Cool Art Client</title>    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
     <link href="/css/bootstrap-responsive.css" rel="stylesheet" type="text/css">
      <link href="/css/test.css" rel="stylesheet" type="text/css">
  
    </head>

    <div class="hero-unit">
<h1> Success! You have just bought your ticket</h1>
</div>

<h3> You have successfully purchased the following ticket: </h3>

  
  <%= @ticket["name"] %>
  <%= @ticket["entry_at"] %>
  <%= @ticket["id"] %>


