<!DOCTYPEhtml>
<html>
    <head>
        
    <title> Cool Art Client</title>    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
     <link href="/css/bootstrap-responsive.css" rel="stylesheet" type="text/css">
      <link href="/css/test.css" rel="stylesheet" type="text/css">
  
    </head>

    <div class="hero-unit">
<h1> Ticket Form </h1>
</div>

<div class="ticket" >

 <!-- Default action for a form is the POST action -->
<form method='post' action='/exhibitions/<%= params[:exhibition_id] %>/tickets'>
  
  <label>
    <span class="form-label">Name</span>
    <input type='text' placeholder="Name" name='name' value="<%= params[:name] %>">
  </label>

   <label>
    <span class="form-label">Entry At</span>
    <input type='text' placeholder="Entry At" name='entry_at' value="<%= params[:entry_at] %>">
  </label>
  
   <input type="hidden" name="exhibition_id" value="<%= params[:exhibition_id] %>">


  <button type='submit'>Submit</button>

</form>

</div>