<style >
body {
  background-color: #;
}
h1 
{
 margin-left: 100px; 
}
table,th,td
{
text-align: left;
margin-left: 100px;
font-size: 18px;
font-family: Arial;

}

</style>
<h1>Galleries</h1>
<table style="width:500px">

      <% @galleries.each do |gallery| %> 
  <tr>
    <td>
      <a href="/galleries/<%= gallery["id"] %>">
        <%= gallery["name"] %>
      </a>
    </td>
  </tr>
    <% end %>

</table>




