<!DOCTYPEhtml>
<html>
    <head>
        
     <title> Cool Art Client</title>    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
     <link href="css/bootstrap-responsive.css" rel="stylesheet" type="text/css">
     <link href="css/test.css" rel="stylesheet" type="text/css">
     

<div class="hero-unit">
<h1> Galleries Online</h1>

</div>



<div class="enter">
	
 <!--<button type="button" class="btn btn-primary btn-lg">Enter</button>-->
 <a href="/galleries" class="btn btn-primary btn-lg" role="button"> ENTER</a>
    
</div>




