<!DOCTYPEhtml>
<html>
    <head>
        
    <title> Cool Art Client</title>    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
     <link href="/css/bootstrap-responsive.css" rel="stylesheet" type="text/css">
      <link href="/css/test.css" rel="stylesheet" type="text/css">
  
    </head>

    <div class="hero-unit">
<h1> Show Ticket</h1>
</div>

<div class="ticket" >

 <!-- Default action for a form is the POST action -->
<form method='post' action='/exhibitions/<%= params[:exhibition_id] %>/tickets/<%= params[:id] %>'>
  
  <label>
    <span class="form-label">Ticket id</span>
    <input type='text' placeholder="Name" name='ticket id' value="<%= params[:id] %>">
  </label>

  
   <input type="hidden" name="_method" value="delete">


  <button type='submit'>Submit</button>

</form>

</div>